canvas {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  right: 0;
}
body {
  color: white;
  font-family: Helvetica, arial, sans-serif;
}
.title {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 360px;
  width: 300px;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
}
.controls {
  font-size: 0.75em;
}
